body {
  background-color: black;
}
.number {
  padding: 10px;
  border: none;
  background-color: rgb(39, 39, 39);
  color: white;
  font-weight: 600;
  font-size: 18px;
  border-radius: 25px;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;      
}

.clear{
  padding: 10p, -5px;
  border: none;
  font-weight: 600;
  font-size: 10px;
  background-color: rgb(27, 27, 27);
  color: white;
  align-items: center;
  border-radius: 25px;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.symbol {
  padding: 10px;
  border: none;
  background-color: rgb(255, 169, 9);
  color: white;
  border-radius: 25px;
  width: 60px;
  font-weight: 600;
  font-size: 18px;
  height: 60px;
  cursor: pointer;
}



.calculator {
  display: grid;
  width: 90%; 
  max-width: 300px;
  margin: 0 auto; 
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.calculationDisplay {
  display: flex;
  color: white;
  font-size: 25px;
  font-weight: 600;
  width: 90%;
  justify-content: center;
}

@media (max-width: 600px) {
.calculator {
  width: 95%;
  gap: 8px;
}

.number, .symbol, .clear {
  width: 50px;
  height: 50px;
  font-size: 16px;
}

.calculationDisplay {
  margin-top: 400px;
}
}
