.sidebar {
  position: fixed;
  left: 0;
  bottom: 10px;
  top: 40px;
  background-color: white;
  width: 72px;
  z-index: 200;
  padding-top: 5px;
}


.sidebar-link {
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}



.sidebar-link:hover {
  background-color: rgb(230, 228, 228);
}

/* Targeting all the imgs inside "sidebar-link" */
.sidebar-link img {
  height: 24px;
  margin-bottom: 4px;
}


.sidebar-link div {
  font-size: 10px;
}

@media (min-width: 1200px) {

  body {
    padding-left: 200px;
  }

  .sidebar {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 180px;
  }
  
  .sidebar-link {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-bottom: -20px;
  }

  .sidebar-link img {
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
  }

  .sidebar-link div {
    margin-left: -20px;
    margin-top: 10px;
    font-weight: 600;
    font-size: 13px;
  }

}
